{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block title %}Password Reset{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="text-center">Logout In Order To Access This Page</p>
    {% else %}
        <div class="card bg-body text-dark fw-bolder shadow border border-0 m-1 mb-3 g-col-4 p-0" >
                <h1 class="card-text py-2 text-center">Password Set</h1>
                <p class="text-center">Your password has been set. You can <a href="{% url 'login' %}" class="icon-link px-1 icon-link-hover">log in now</a></p>
        </div>
    {% endif %}
{% endblock %}
