{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}



{% block title %}Reset your password{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="text-center">Logout In Order To Access This Page</p>
    {% else %}
        {% if validlink %}
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="card bg-body text-dark fw-bolder shadow border border-0 m-1 mb-3 g-col-4 p-0" >
                    <img src="{% static 'img/password-chain.jpg' %}" class="card-img edit-img image-fluid object-fit-cover" style="height: 70vh; width: 40em; opacity: 0.8;" alt="{{todo_list.title}} Image">
                    <div class="card-img-overlay">
                        <h1 class="card-text py-2 text-center">Reset your password</h1>
                        <p class="text-center">Please enter your new password twice:</p>
                        <div class="py-5">
                            {{ form.as_p }}
                            <button class="btn btn-danger" style="width: 100%;" type="submit">Change My Password</button>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it hasalready been used. Please request a new password reset.</p>
        {% endif %}
    {% endif %}
{% endblock %}
